
.main{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}
.card{
   display: inline-block;
    height:25rem;
    width:18rem;
    /* margin-left: 1rem; */
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
    border-radius: .8rem;
    /* flex: 1 1 200px; */
}

.invest{
    width: 18rem;
    margin-top: .5rem;
}

h3,h6{
    text-align: center;
    margin: 0;

}

.logo{
    height: 3rem;
    display: block;
    margin: auto;
}

